.evasys_teachers {
    .avatar {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        border-radius: 25px;
        vertical-align: middle;
    }
    &.editable {
        .avatar {
            cursor: grabbing;
        }
        input[type="checkbox"] + img {
            cursor: pointer;
        }
        input[type="checkbox"]:checked + img + img {
            cursor: pointer;
        }
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + img {
        display: inline-block;
        vertical-align: middle;
    }
    input[type="checkbox"] + img + img {
        display: none;
    }
    input[type="checkbox"]:checked + img {
        display: none;
    }
    input[type="checkbox"]:checked + img + img {
        display: inline-block;
        vertical-align: middle;
    }
    .note {
        opacity: 0;
        transition: opacity 500ms;
    }
    > :first-child .note {
        opacity: 0.5;
        transition: opacity 500ms;
    }
    &.split .note {
        opacity: 0.5;
    }
}
.evasys_propose_dates {
    max-height: 200px;
    overflow: auto;
}
#evasys_evaldata {
    margin-top: 10px;
}

.bulkedit tbody tr {
    opacity: 0.6;
}
.bulkedit tbody tr.active {
    opacity: 1;
}